<template name="Signout">
  <div class="container">
    <div class="fs-form-wrap" id="fs-form-wrap">
      <div class="fs-title">
      </div>
      <form id="guestForm" class="fs-form fs-form-full" autocomplete="off">
        <ol class="fs-fields">
          <li data-input-trigger>
            <label class="fs-field-label fs-anim-upper" for="q1" data-info="What should we call you?">What's your name?</label>
            <input class="fs-anim-lower" id="q1" name="q1" type="text" placeholder="Enter Your Name Here" required/>
          </li>
        </ol>
        <button class="fs-submit" id="signout" type="submit">Sign Out</button>
      </form><!-- /fs-form -->
    </div><!-- /fs-form-wrap -->
    <a href="/" class="guest-btn" id="new-home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
  </div><!-- /container -->

</template>