.jumbotron {
  padding-top: 30px;
}

.jumbotron .reg-header {
  text-align: center;
  color: rgb(51, 51, 51);
  margin-top: 0;
  font-size: 50px;
}

.jumbotron .guest-btn {
  border: 3px solid black;
  color: black;
  margin-top: 20px;
  -webkit-transition: background-color 700ms ease-out;
}

.jumbotron .guest-btn:hover {
  background-color: #8E8F91 !important;
  -webkit-transition: background-color 700ms ease-out;
}

.jumbotron .panel {
  width: 300px;
  height: 450px;
  margin: 0 auto 15px auto;
}

.jumbotron .panel .logo {
  height: 50px; 
  display: block;
  margin: 0 auto;
  padding-left: 10px;
}

.jumbotron .panel .name {
  font-size: 30px;
  margin: 15px 0;
  text-transform: uppercase;
}

.jumbotron .panel .visitor {
  padding: 5px;
}

.jumbotron .visitor p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
  color: #1D7641;
}

.jumbotron .time {
  margin: 8px 0 5px 0;
}

.jumbotron p {
  font-size: 12px;
  color: rgb(51, 51, 51);
  text-align: center;
}