#video {
  border: 10px solid white;
  display: block !important;
  margin: 0 auto;
  width: 60%;
  height: 60%;
}

#new-home {
  width: 60px;
  position: absolute;
  left: 30px;
  bottom: 20px;
  font-size: 12px;
  color: black;
  border: 3px solid black;
  z-index: 0;
}

#login-dropdown-list {
  list-style: none;
}