<template name="New">
    <div class="container">
      <div class="fs-form-wrap" id="fs-form-wrap">
        <div class="fs-title">
          <h1>Nurun Concierge</h1>
        </div>
        <form id="guestForm" class="fs-form fs-form-full" autocomplete="off">
          <ol class="fs-fields">
            <li data-input-trigger>
              <label class="fs-field-label fs-anim-upper" for="q1" data-info="What should we call you?">What's your name?</label>
              <input class="fs-anim-lower" id="q1" name="q1" type="text" placeholder="Enter Your Name Here" required/>
            </li>
            <li data-input-trigger>
              <label class="fs-field-label fs-anim-upper" for="q2" data-info="Meeting? Just to see a friend? Dropping something off?">Why are you visiting?</label>
              <input class="fs-anim-lower" id="q2" name="q2" placeholder="Enter your reason here" required/>
            </li>
            <li data-input-trigger>
              <label class="fs-field-label fs-anim-upper" data-info="We'll make sure to let them know you're here">Who are you here to see?</label>
              <select class="cs-select cs-skin-boxes fs-anim-lower staff">
                <option value="" disabled selected>Pick a name</option>
                {{#each employees}}
                  <option value="{{name}}" data-class="staff">{{name}}</option>
                {{/each}}
              </select>
            </li>
            <li data-input-trigger>
              <label class="fs-field-label fs-anim-upper" for="q3" data-info="Say Cheese!">We're going to take a picture when we're done. Check your teeth!</label>
              <div class="fs-anim-lower imgwrapper">
                <video id ="video"></video>
                <canvas id = "canvas"></canvas>
                <div id="picture"></div>
              </div>
            </li>
          </ol>
          <button class="fs-submit" type="submit">Register & Take Picture</button>
        </form><!-- /fs-form -->
      </div><!-- /fs-form-wrap -->
    </div><!-- /container -->
</template>



