<template name="Returning">
    <div class="container">
      <div class="fs-form-wrap" id="fs-form-wrap">
        <div class="fs-title">
          <h1>Nurun Concierge</h1>
        </div>
        <h1>Welcome Back!</h1>
        <form id="guestForm" class="fs-form fs-form-full" autocomplete="off">
          <ol class="fs-fields">
            <li>
              <label class="fs-field-label fs-anim-upper" for="q1" data-info="What should we call you?">What's your name?</label>
              <input class="fs-anim-lower" id="q1" name="q1" type="text" placeholder="Enter Your Name Here" required/>
            </li>
          </ol>
          <button class="fs-submit" type="submit">Submit</button>
        </form><!-- /fs-form -->
      </div><!-- /fs-form-wrap -->
    </div><!-- /container -->
</template>
